In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [ ]:
df_green=spark.read.parquet("C:/data_engineering_project/06_Batch_processing_with_spark/data/pq/green/*/*")
df_green.show()

In [4]:
df_yellow=spark.read.parquet("C:/data_engineering_project/06_Batch_processing_with_spark/data/pq/yellow/*/*")
df_yellow.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2019-03-23 13:15:29|  2019-03-23 13:19:57|              1|          1.0|         1|                 N|         237|         141|           1|        5.5|  2.5|    0.5|       1.5|         0.0|                  0.3|        10.3|                 2.5|
|       2| 2019-03-20 14:44:26|  2019-03-20 15:03:52|              2|          2.0|         1|                 N|         162|          50|           1|       13.5|  0.0|    0.5|       4.2|         0.0|                  0.3|        21.0|                 2.5|
|       2| 2019-03-12 22:55:06|  2019-03-12 23:11:14|              3|         3.19|         1|                 N|         162|         238|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.8|                 2.5|
|       2| 2019-03-25 18:43:37|  2019-03-25 18:54:36|              2|         1.36|         1|                 N|         163|          48|           1|        8.5|  1.0|    0.5|       3.2|         0.0|                  0.3|        16.0|                 2.5|
|       2| 2019-03-21 15:40:38|  2019-03-21 16:11:29|              1|         3.28|         1|                 N|         238|         186|           1|       19.0|  0.0|    0.5|      5.58|         0.0|                  0.3|       27.88|                 2.5|
|       2| 2019-03-24 19:41:03|  2019-03-24 19:48:47|              1|         1.26|         1|                 N|         238|         142|           1|        7.5|  0.0|    0.5|      1.62|         0.0|                  0.3|       12.42|                 2.5|
|       1| 2019-03-16 22:16:27|  2019-03-16 22:32:04|              1|          2.7|         1|                 N|         107|         141|           2|       12.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        16.3|                 2.5|
|       2| 2019-03-19 20:32:05|  2019-03-19 20:35:20|              1|          0.8|         1|                 N|         237|         236|           1|        5.0|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 2.5|
|       2| 2019-03-06 15:06:46|  2019-03-06 15:11:30|              5|         0.87|         1|                 N|          50|         142|           1|        5.5|  0.0|    0.5|      1.76|         0.0|                  0.3|       10.56|                 2.5|
|       2| 2019-03-21 18:45:33|  2019-03-21 18:50:53|              1|         0.92|         1|                 N|         140|         237|           2|        5.5|  1.0|    0.5|       0.0|         0.0|                  0.3|         9.8|                 2.5|
|       2| 2019-03-28 22:36:02|  2019-03-28 22:40:57|              1|         1.28|         1|                 N|         142|         239|           1|        6.5|  0.5|    0.5|      2.58|         0.0|                  0.3|       12.88|                 2.5|
|       2| 2019-03-07 14:31:45|  2019-03-07 14:57:28|              1|         2.38|         1|                 N|         140|         264|           1|       16.5|  0.0|    0.5|      4.32|         0.0|                  0.3|       21.62|                 0.0|
|       2| 2019-03-19 20:02:47|  2019-03-19 20:16:24|              3|         2.72|         1|                 N|         246|         237|           1|       11.5|  0.5|    0.5|      1.53|         0.0|                  0.3|       16.83|                 2.5|
|       2| 2019-03-29 23:11:30|  2019-03-29 23:18:00|              5|          0.8|         1|                 N|         107|          79|           1|        5.5|  0.5|    0.5|       1.5|         0.0|                  0.3|        10.8|                 2.5|
|       2| 2019-03-11 16:26:17|  2019-03-11 16:45:27|              6|         1.79|         1|                 N|         186|         233|           2|       12.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        16.8|                 2.5|
|       2| 2019-03-03 08:46:16|  2019-03-03 09:01:48|              1|         3.88|         1|                 N|         236|         234|           1|       15.0|  0.0|    0.5|       2.0|         0.0|                  0.3|        20.3|                 2.5|
|       1| 2019-03-16 21:19:09|  2019-03-16 21:33:26|              3|          5.3|         1|                 N|          88|         162|           2|       17.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        21.3|                 2.5|
|       1| 2019-03-16 11:06:03|  2019-03-16 11:39:04|              3|          4.5|         1|                 N|          48|         148|           1|       22.0|  2.5|    0.5|      7.55|         0.0|                  0.3|       32.85|                 2.5|
|       2| 2019-03-16 15:08:46|  2019-03-16 15:18:14|              1|         1.16|         1|                 N|         234|         114|           1|        7.5|  0.0|    0.5|      1.08|         0.0|                  0.3|       11.88|                 2.5|
|       2| 2019-03-17 14:25:09|  2019-03-17 14:43:53|              6|         2.09|         1|                 N|         234|         246|           1|       13.0|  0.0|    0.5|       2.0|         0.0|                  0.3|        18.3|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [5]:
# renaming some columns green data
df_green=df_green \
           .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
           .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [6]:
# renaming some columns in yellow dataframe
df_yellow=df_yellow \
           .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
           .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [7]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [8]:
# lis with common column from the 2 dataframes and in the same order as original dataframes.
common_columns=[]

yellow_columns=set(df_yellow.columns)
for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [9]:
df_green_sel=df_green \
             .select(common_columns) \
             .withColumn('service_type',F.lit('green'))

In [10]:
df_yellow_sel=df_yellow \
             .select(common_columns) \
             .withColumn('service_type',F.lit('yellow'))

In [11]:
# merging dataframes to one
df_trips=df_green_sel.union(df_yellow_sel)

In [12]:
df_trips.groupBy('service_type').count().show()

+------------+---------+
|service_type|    count|
+------------+---------+
|       green|  7778101|
|      yellow|109047518|
+------------+---------+

In [13]:
# using sql queries
# convert dataframe to a table
df_trips.createOrReplaceTempView('Trips_data')

In [14]:
df_trips.show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2019-01-29 15:36:35|2019-01-29 15:45:15|                 N|         1|          40|         181|              1|         1.12|        7.5|  0.0|    0.5|      1.66|         0.0|                  0.3|        9.96|           1|                 0.0|       green|
|       2|2019-01-12 05:08:28|2019-01-12 05:08:33|                 N|         1|          74|          74|              1|         0.03|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|           2|                NULL|       green|
|       2|2019-01-27 00:55:22|2019-01-27 01:13:10|                 N|         1|         255|          36|              1|         3.38|       14.0|  0.5|    0.5|      3.06|         0.0|                  0.3|       18.36|           1|                NULL|       green|
|       1|2019-01-31 12:43:05|2019-01-31 13:03:13|                 N|         1|         166|         163|              1|          3.1|       14.5|  0.0|    0.5|      3.05|         0.0|                  0.3|       18.35|           1|                 0.0|       green|
|       2|2019-01-20 00:36:35|2019-01-20 00:36:37|                 N|         5|         264|          56|              1|          0.0|       13.0|  0.0|    0.0|       2.6|         0.0|                  0.0|        15.6|           1|                NULL|       green|
|       1|2019-01-16 14:42:12|2019-01-16 15:02:02|                 N|         1|          22|          14|              1|          2.8|       14.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        15.3|           1|                NULL|       green|
|       2|2019-01-17 18:22:17|2019-01-17 18:38:50|                 N|         1|         181|          33|              1|         2.38|       12.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        14.3|           1|                NULL|       green|
|       2|2019-01-06 09:41:30|2019-01-06 09:54:34|                 N|         1|          41|         142|              1|         3.23|       12.5|  0.0|    0.5|      2.66|         0.0|                  0.3|       15.96|           1|                NULL|       green|
|       1|2019-01-13 13:17:14|2019-01-13 13:33:42|                 N|         1|         173|         260|              1|          2.3|       12.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        13.3|           2|                NULL|       green|
|       1|2019-01-30 21:03:20|2019-01-30 21:11:33|                 N|         1|         189|         257|              1|          1.9|        8.5|  0.5|    0.5|      1.95|         0.0|                  0.3|       11.75|           1|                 0.0|       green|
|       2|2019-01-29 14:53:59|2019-01-29 15:19:25|                 N|         5|         228|         165|              1|         4.02|      20.91|  0.0|    0.5|       0.0|         0.0|                  0.0|       21.41|           1|                 0.0|       green|
|       2|2019-01-26 02:50:42|2019-01-26 02:58:17|                 N|         1|         225|         198|              1|         1.51|        7.5|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|           1|                NULL|       green|
|       1|2019-01-23 13:18:55|2019-01-23 13:39:16|                 N|         1|         177|          77|              0|          2.4|       14.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        14.8|           1|                NULL|       green|
|       2|2019-01-27 22:17:59|2019-01-27 22:21:59|                 N|         1|          17|          49|              1|         0.91|        5.0|  0.5|    0.5|      1.58|         0.0|                  0.3|        7.88|           1|                NULL|       green|
|       2|2019-01-12 22:18:39|2019-01-12 22:26:21|                 N|         1|          95|          95|              1|         0.77|        7.0|  0.5|    0.5|      2.49|         0.0|                  0.3|       10.79|           1|                NULL|       green|
|       2|2019-01-15 09:28:25|2019-01-15 09:29:56|                 N|         1|          42|          42|              1|         0.33|        3.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         3.8|           2|                NULL|       green|
|       2|2019-01-31 18:48:50|2019-01-31 19:02:43|                 N|         1|          92|         121|              5|         2.96|       12.5|  1.0|    0.5|      2.86|         0.0|                  0.3|       17.16|           1|                 0.0|       green|
|       2|2019-01-31 10:04:51|2019-01-31 10:19:09|                 N|         1|          75|         152|              1|         2.67|       12.0|  0.0|    0.5|       1.0|         0.0|                  0.3|        13.8|           1|                 0.0|       green|
|       2|2019-01-26 21:38:42|2019-01-26 21:45:35|                 N|         1|          25|         106|              2|         0.99|        6.5|  0.5|    0.5|      2.34|         0.0|                  0.3|       10.14|           1|                NULL|       green|
|       2|2019-01-14 03:58:34|2019-01-14 04:13:01|                 N|         1|           7|         121|              5|          9.0|       26.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        27.3|           2|                NULL|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
only showing top 20 rows

In [15]:
spark.sql ("""
SELECT service_type,count(service_type) AS Count 
FROM Trips_data
GROUP BY service_type
""").show()

+------------+---------+
|service_type|    Count|
+------------+---------+
|       green|  7778101|
|      yellow|109047518|
+------------+---------+

In [16]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    Trips_data
GROUP BY
    1, 2, 3
""")

In [17]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         200|2019-01-01 00:00:00|       green|  17987.609999999997|                 49.0|                  319.0|        121.54999999999998|          1064.1599999999978|                   117.29999999999924|          19668.369999999897|                                 0.0|        1.2122137404580153|       8.549358778625955|
|         208|2019-01-01 00:00:00|       green|  14264.239999999996|                 75.5|                  295.0|         68.53999999999999|           449.2799999999996|                   130.79999999999924|          15293.109999999895|                                 0.0|        1.2807283763277693|       6.181077389984829|
|         217|2019-01-01 00:00:00|       green|  11393.609999999999|                136.5|                  333.5|                     160.7|          156.23999999999995|                   167.10000000000062|          12355.449999999908|                                 0.0|        1.4363103953147878|       4.004626647144945|
|          45|2019-01-01 00:00:00|       green|                31.0|                  0.5|                    1.5|                      4.82|                         0.0|                   0.8999999999999999|                       38.72|                                 0.0|                       1.0|      1.9833333333333334|
|         130|2019-03-01 00:00:00|       green|  156844.96000000002|              3974.75|                 5009.5|        12512.859999999993|          1689.0399999999981|                    2855.700000000271|          183143.15999998906|                              244.75|        1.0953585676753916|       4.069606889170011|
|          25|2019-02-01 00:00:00|       green|  148927.72999999984|               4138.0|                 5344.5|        12632.919999999964|           661.5499999999996|                    3048.600000000388|          176759.04999999132|                              1987.0|         1.263710726900911|      3.3668897564602966|
|         160|2019-02-01 00:00:00|       green|             7004.09|                 40.0|                  167.0|        142.86000000000004|          239.96999999999989|                    75.29999999999964|          7708.2200000000275|                                16.5|        1.3659942363112392|       5.178472622478391|
|          31|2019-02-01 00:00:00|       green|  2528.7200000000003|                 19.0|                   49.0|                      64.6|          102.04000000000002|                    25.50000000000004|          2803.7600000000025|                                11.0|        1.5932203389830508|       5.512033898305084|
|           6|2019-02-01 00:00:00|       green|              732.04|                  3.5|                   10.0|                      1.28|                      190.08|                    3.899999999999999|           945.4999999999998|                                2.75|                       1.7|                 12.2955|
|          14|2019-04-01 00:00:00|       green|  24240.969999999998|               253.25|                  490.5|         592.0199999999999|           807.7000000000004|                    251.4000000000038|          26849.839999999665|                              153.75|        1.2145015105740182|        6.72364551863041|
|         175|2019-03-01 00:00:00|       green|   8375.229999999998|                 26.5|                  150.5|                       5.0|          207.85999999999996|                   50.699999999999875|           8815.790000000006|                                 0.0|        1.1528239202657806|       8.858970099667784|
|          87|2019-03-01 00:00:00|       green|               206.5|                  6.0|                    7.5|                     46.28|                         0.0|                    4.499999999999999|          308.28000000000003|                                37.5|                       1.0|      3.4226666666666663|
|          53|2019-02-01 00:00:00|       green|   4140.780000000001|                 31.5|                   66.0|                     27.62|           48.23999999999999|                    29.70000000000005|           4352.690000000007|                                 0.0|        1.2253521126760563|        8.41619718309859|
|          49|2019-04-01 00:00:00|       green|   55732.17999999999|              1655.75|                 2203.5|         4132.860000000005|          198.68000000000006|                   1287.8999999998962|           66376.07000000359|                             1037.75|        1.2376681614349776|      2.7388183856502226|
|         236|2019-04-01 00:00:00|       green|             12117.2|                627.5|                  549.5|         2190.229999999998|           201.9600000000001|                   330.00000000000676|          17975.139999999854|                              2143.0|        1.3606853020739405|       2.319116321009917|
|          25|2019-05-01 00:00:00|       green|  132287.40999999997|              4449.25|                 5267.5|        13778.299999999923|           360.9300000000001|                   3161.4000000004553|          161339.08999999627|                             1968.75|         1.226507384065469|      2.6397479070642613|
|         152|2019-01-01 00:00:00|       green|   46587.18999999998|                980.5|                 1991.0|         3307.800000000002|           514.1899999999994|                   1167.2999999999145|           54661.78000000247|                                 0.0|        1.1876204238921002|      2.6309176300578017|
|          91|2019-01-01 00:00:00|       green|   48008.66999999998|                270.5|                 1119.5|        136.61999999999998|          1178.2699999999982|                    514.8000000000133|           51249.81000000093|                                 0.0|        1.3326000879894413|       5.505217773867132|
|         115|2019-01-01 00:00:00|       green|             2185.39|                 10.0|                   21.5|        14.559999999999999|          437.75999999999976|                   11.700000000000006|          2680.9100000000008|                                 0.0|         1.127659574468085|      14.662127659574463|
|          20|2019-03-01 00:00:00|       green|  14758.089999999998|                179.0|                  326.5|         211.2600000000001|           682.3199999999991|                   165.30000000000055|          16360.519999999846|                               35.75|        1.1983240223463687|       5.658002793296094|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [19]:
df_result.coalesce(1).write.mode('overwrite').parquet('C:/data_engineering_project/06_Batch_processing_with_spark/data/report/revenue')