In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [4]:

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [5]:
df_green=spark.read.parquet('C:/data_engineering_project/06_Batch_processing_with_spark/data/pq/green/*/*')

In [6]:
df_green.createOrReplaceTempView('green')

In [7]:
df_green_revenue=spark.sql("""
SELECT
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS green_amount,
    COUNT(1) AS green_number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1,2
""")

In [8]:
df_green_revenue.show()

+-------------------+----+------------------+--------------------+
|               hour|zone|      green_amount|green_number_records|
+-------------------+----+------------------+--------------------+
|2020-01-03 09:00:00| 226|108.33999999999999|                   6|
|2020-01-02 14:00:00|  26| 327.4800000000001|                  11|
|2020-01-06 15:00:00| 241|             184.7|                   3|
|2020-01-22 13:00:00|  74| 666.2399999999999|                  44|
|2020-01-14 23:00:00| 223|             48.31|                   4|
|2020-01-09 23:00:00| 260|202.33000000000004|                  16|
|2020-01-30 09:00:00|  75|1010.3499999999995|                  67|
|2020-01-11 21:00:00|  41| 700.5999999999997|                  50|
|2020-01-07 18:00:00|  45|112.39000000000001|                   4|
|2020-01-02 09:00:00|  42| 555.7500000000001|                  33|
|2020-01-04 23:00:00|  25|             376.4|                  26|
|2020-01-25 11:00:00| 259|            161.21|                   3|
|2020-01-16 20:00:00|  52|             108.6|                   7|
|2020-01-16 06:00:00|  74| 600.7999999999998|                  37|
|2020-01-17 07:00:00|  41| 481.6400000000002|                  39|
|2020-01-17 04:00:00|  82|108.74999999999999|                  10|
|2020-01-22 16:00:00| 244|            926.17|                  32|
|2020-01-02 18:00:00|  66|210.76000000000002|                  11|
|2020-01-30 22:00:00|  36|              85.1|                   3|
|2020-01-17 19:00:00|  17|133.57999999999998|                  13|
+-------------------+----+------------------+--------------------+
only showing top 20 rows

In [9]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('C:/data_engineering_project/06_Batch_processing_with_spark/data/report/revenue/green', mode='overwrite')

In [10]:
df_yellow=spark.read.parquet('C:/data_engineering_project/06_Batch_processing_with_spark/data/pq/yellow/*/*')

In [11]:
df_yellow.createOrReplaceTempView('yellow')

In [12]:
df_yellow_revenue=spark.sql("""
SELECT
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS yellow_amount,
    COUNT(1) AS yellow_number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1,2
""")

In [13]:
df_yellow_revenue.show()

+-------------------+----+------------------+---------------------+
|               hour|zone|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+---------------------+
|2088-01-24 00:00:00|  41|               5.3|                    1|
|2033-04-27 13:00:00| 263|               8.3|                    1|
|2033-04-27 12:00:00| 229|              10.8|                    1|
|2020-01-02 00:00:00| 100| 840.5600000000002|                   43|
|2020-01-02 00:00:00| 163| 756.5000000000002|                   55|
|2020-01-05 02:00:00| 163|1444.6499999999992|                   92|
|2020-01-15 17:00:00| 233| 4806.989999999999|                  236|
|2020-01-16 16:00:00| 211|1691.4799999999996|                   88|
|2020-02-28 18:00:00|  48| 7228.720000000013|                  433|
|2020-02-14 14:00:00| 113| 3181.679999999998|                  197|
|2020-01-02 04:00:00| 100|383.14000000000004|                   27|
|2020-02-16 05:00:00| 107| 553.3600000000001|                   27|
|2020-02-04 21:00:00|  79| 5068.610000000004|                  302|
|2020-05-05 05:00:00| 229|             32.41|                    2|
|2020-03-29 22:00:00|  79|             29.66|                    2|
|2020-01-19 11:00:00| 231| 2835.249999999998|                  170|
|2020-03-21 08:00:00| 263| 386.7800000000001|                   30|
|2020-02-13 20:00:00| 234|  9195.35000000002|                  553|
|2020-06-16 21:00:00| 230|             98.47|                    6|
|2020-01-14 18:00:00| 237| 12475.55000000004|                  807|
+-------------------+----+------------------+---------------------+
only showing top 20 rows

In [14]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('C:/data_engineering_project/06_Batch_processing_with_spark/data/report/revenue/yellow', mode='overwrite')

### Joins

In [15]:
df_yellow_revenue.show()

+-------------------+----+------------------+---------------------+
|               hour|zone|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+---------------------+
|2088-01-24 00:00:00|  41|               5.3|                    1|
|2033-04-27 13:00:00| 263|               8.3|                    1|
|2033-04-27 12:00:00| 229|              10.8|                    1|
|2020-01-02 00:00:00| 100| 840.5600000000002|                   43|
|2020-01-02 00:00:00| 163| 756.5000000000002|                   55|
|2020-01-05 02:00:00| 163|1444.6499999999992|                   92|
|2020-01-15 17:00:00| 233| 4806.989999999999|                  236|
|2020-01-16 16:00:00| 211|1691.4799999999996|                   88|
|2020-02-28 18:00:00|  48| 7228.720000000013|                  433|
|2020-02-14 14:00:00| 113| 3181.679999999998|                  197|
|2020-01-02 04:00:00| 100|383.14000000000004|                   27|
|2020-02-16 05:00:00| 107| 553.3600000000001|                   27|
|2020-02-04 21:00:00|  79| 5068.610000000004|                  302|
|2020-05-05 05:00:00| 229|             32.41|                    2|
|2020-03-29 22:00:00|  79|             29.66|                    2|
|2020-01-19 11:00:00| 231| 2835.249999999998|                  170|
|2020-03-21 08:00:00| 263| 386.7800000000001|                   30|
|2020-02-13 20:00:00| 234|  9195.35000000002|                  553|
|2020-06-16 21:00:00| 230|             98.47|                    6|
|2020-01-14 18:00:00| 237| 12475.55000000004|                  807|
+-------------------+----+------------------+---------------------+
only showing top 20 rows

In [16]:
df_join=df_green_revenue.join(df_yellow_revenue,on=['hour','zone'],how='outer')
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  15|              NULL|                NULL|             34.09|                    1|
|2020-01-01 00:00:00|  25|             531.0|                  26|            324.35|                   16|
|2020-01-01 00:00:00|  29|              61.3|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|  33| 317.2700000000001|                  11|            255.56|                    8|
|2020-01-01 00:00:00|  34|              NULL|                NULL|              19.3|                    1|
|2020-01-01 00:00:00|  41|1363.9599999999982|                  84|1256.5300000000002|                   80|
|2020-01-01 00:00:00|  42| 799.7599999999996|                  52| 635.3500000000001|                   46|
|2020-01-01 00:00:00|  51|              17.8|                   2|              31.0|                    1|
|2020-01-01 00:00:00|  59|50.900000000000006|                   3|              NULL|                 NULL|
|2020-01-01 00:00:00|  62|             15.95|                   1|             61.43|                    1|
|2020-01-01 00:00:00|  69|              11.8|                   1|106.52000000000001|                    4|
|2020-01-01 00:00:00|  71|              23.8|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|  76|143.77999999999997|                   4|             35.51|                    2|
|2020-01-01 00:00:00|  81|54.870000000000005|                   2|             30.32|                    1|
|2020-01-01 00:00:00|  87|              NULL|                NULL| 2456.669999999999|                  112|
|2020-01-01 00:00:00|  89|              11.3|                   1|             48.16|                    2|
|2020-01-01 00:00:00| 108|              NULL|                NULL|              18.8|                    1|
|2020-01-01 00:00:00| 112|312.26000000000005|                  18|119.47999999999999|                    8|
|2020-01-01 00:00:00| 125|              NULL|                NULL|           1342.07|                   68|
|2020-01-01 00:00:00| 126|              NULL|                NULL|             170.6|                    2|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [19]:
df_join.write.parquet('C:/data_engineering_project/06_Batch_processing_with_spark/data/report/revenue/total',mode='overwrite')

In [20]:
df_join=spark.read.parquet('C:/data_engineering_project/06_Batch_processing_with_spark/data/report/revenue/total')

In [22]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-10-31 16:01:34--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.182.97.128, 52.216.209.136, 54.231.227.16, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.182.97.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 1013K=0.01s

2023-10-31 16:01:37 (1013 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [30]:
df=spark.read \
    .option('header','True') \
    .csv('./taxi+_zone_lookup.csv')

In [32]:
df.write.parquet('zones')

In [33]:
df_zones= spark.read.parquet('zones/')
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [34]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [35]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+-------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|               Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+-------------------+------------+
|2020-01-01 00:00:00|  12|              NULL|                NULL|             107.0|                    6|        12|Manhattan|       Battery Park| Yellow Zone|
|2020-01-01 00:00:00|  13|              NULL|                NULL|            1214.8|                   56|        13|Manhattan|  Battery Park City| Yellow Zone|
|2020-01-01 00:00:00|  18|               7.8|                   1|               5.8|                    1|        18|    Bronx|       Bedford Park|   Boro Zone|
|2020-01-01 00:00:00|  24|              87.6|                   3| 754.9500000000002|                   45|        24|Manhattan|       Bloomingdale| Yellow Zone|
|2020-01-01 00:00:00|  35|129.96000000000004|                   5|              NULL|                 NULL|        35| Brooklyn|        Brownsville|   Boro Zone|
|2020-01-01 00:00:00|  37|175.67000000000002|                   6|            161.61|                    7|        37| Brooklyn|     Bushwick South|   Boro Zone|
|2020-01-01 00:00:00|  38| 98.78999999999999|                   2|              NULL|                 NULL|        38|   Queens|    Cambria Heights|   Boro Zone|
|2020-01-01 00:00:00|  40|168.98000000000002|                   8|             89.97|                    5|        40| Brooklyn|    Carroll Gardens|   Boro Zone|
|2020-01-01 00:00:00|  43|            107.52|                   6| 6539.510000000011|                  390|        43|Manhattan|       Central Park| Yellow Zone|
|2020-01-01 00:00:00|  48|              NULL|                NULL| 10773.36000000003|                  455|        48|Manhattan|       Clinton East| Yellow Zone|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|185.64999999999998|                   10|        49| Brooklyn|       Clinton Hill|   Boro Zone|
|2020-01-01 00:00:00|  52| 83.32999999999998|                   4|              49.8|                    2|        52| Brooklyn|        Cobble Hill|   Boro Zone|
|2020-01-01 00:00:00|  55|129.29000000000002|                   4|              NULL|                 NULL|        55| Brooklyn|       Coney Island|   Boro Zone|
|2020-01-01 00:00:00|  60|            160.04|                   6|57.620000000000005|                    2|        60|    Bronx|  Crotona Park East|   Boro Zone|
|2020-01-01 00:00:00|  61|            526.71|                  17|            146.64|                    3|        61| Brooklyn|Crown Heights North|   Boro Zone|
|2020-01-01 00:00:00|  68|              NULL|                NULL| 7825.070000000012|                  396|        68|Manhattan|       East Chelsea| Yellow Zone|
|2020-01-01 00:00:00|  78|             34.46|                   2|              NULL|                 NULL|        78|    Bronx|       East Tremont|   Boro Zone|
|2020-01-01 00:00:00|  79|              NULL|                NULL|12573.810000000036|                  721|        79|Manhattan|       East Village| Yellow Zone|
|2020-01-01 00:00:00|  82| 305.1200000000002|                  28|              29.8|                    1|        82|   Queens|           Elmhurst|   Boro Zone|
|2020-01-01 00:00:00|  83| 94.09999999999998|                   7|               9.8|                    1|        83|   Queens|   Elmhurst/Maspeth|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+-------------------+------------+
only showing top 20 rows

In [37]:
df_result.drop('LocationID', 'zone').write.parquet('C:/data_engineering_project/06_Batch_processing_with_spark/data/report/revenue/revenue-zones')